* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Superusuario - root  
Cambiar de horizontal a vertical los elementos utilizamos flex **/

:root {
  --blanco: #ffffff;
  --grisClaro: #f8f9fa;
  --gris: #57626b;
  --grisOscuro: #353a49;
  --azul: #1a73e8;
  --fuentePrincipal: "Inter", sans-serif;
  --title-size: 35px;
  --title-weight: bold;
  --title-color: var(--grisOscuro);
  --subtitle-size: 20px;
  --subtitle-weight: bold;
  --subtitle-color: var(--grisOscuro);
  --text-size: 12px;
  --text-weight: normal;
  --text-color: var(--gris);
  --textBlod-size: 12px;
  --textBlod-weight: bold;
  --textBlod-color: var(--gris);
  --textFooter-size: 8px;
  --textFooter-weight: normal;
  --textFooter-color: var(--gris);
}

body {
  font-family: var(--fuentePrincipal);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.links {
  display: flex;
  list-style: none;
  gap: 15px;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--gris);
  font-size: 12px;
}

.links img {
  width: 40px;
  height: 40px;
  display: block;
}

.icons {
  display: flex;
  gap: 20px;
  list-style: none;
}

.links a:hover {
  color: #202124;
}

.arrow {
  padding: 30px;
  display: flex;
  gap: 10px;
  margin: 30px;
}