* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blanco: #ffffff;
  --grisClaro: #f8f9fa;
  --gris: #57626b;
  --grisOscuro: #353a49;
  --azul: #1a73e8;
  --fuentePrincipal: "Inter", sans-serif;
  --title-size: 35px;
  --title-weight: bold;
  --title-color: var(--grisOscuro);
  --subtitle-size: 20px;
  --subtitle-weight: bold;
  --subtitle-color: var(--grisOscuro);
  --text-size: 12px;
  --text-weight: normal;
  --text-color: var(--gris);
  --textBlod-size: 12px;
  --textBlod-weight: bold;
  --textBlod-color: var(--gris);
  --textFooter-size: 8px;
  --textFooter-weight: normal;
  --textFooter-color: var(--gris);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  color: var(--textFooter-color);
  background-color: var(--grisClaro);
  text-align: center;
}

/* Iconos sociales */
.social-icons {
  display: flex;
  gap: 17px;
  justify-content: center;
}


/* Enlaces y país */
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.footer-links a {
  text-decoration: none;
  color: var(--textFooter-color);
  font-size: var(--textFooter-size)
}

.country {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--textFooter-size)
}

.country img {
  width: 24px;
}

/* Tablet */
@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .footer-links {
    flex-direction: row;
    gap: 17px;
    align-items: center;
  }

  .footer-links a {
    margin: 0;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  footer {
    padding: 20px 50px;
    gap: 0;
  }

  .footer-links a,
  .country {
    font-size: var(--textFooter-size);
  }
}